#viola {
	background: rgb(0, 0, 0);
	background: linear-gradient(25deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 1) 95%);
}

#center {
	background: #1e1e1e;
}

.card {
	background-color: rgba(43, 43, 43, 0.8);
	color: white;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: white;
}
