.player-bar {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

.album-cover img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 10px;
}

.track-info h3 {
  font-size: 1.2em;
  margin: 0;
}

.controls button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 6px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.progress-bar {
  flex: 1;
  height: 5px;
  background-color: #444;
  margin: 0 10px;
  position: relative;
  border-radius: 50px;
}

.progress {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  width: 0%; /* Esempio: il 50% rappresenta il progresso */
}

.progress-bar:hover {
  .progress {
    background-color: #1db954;
  }
  cursor: pointer;
}

.progress:hover::before {
  content: '';
  position: absolute;
  width: 10px; /* Dimensioni del cerchio */
  height: 10px; /* Dimensioni del cerchio */
  background-color: #ffffff; /* Colore del cerchio */
  border-radius: 50%; /* Rendi il cerchio rotondo */
  top: -2px; /* Posiziona il cerchio sopra la barra di avanzamento */
  right: 0; /* Posiziona il cerchio al centro della barra di avanzamento */
  z-index: 3;
}

#pause-button {
  display: none;
}

#next-button,
#prev-button,
#shuffle,
#repeat,
#listening,
#lyrics,
#queue,
#devices,
#volume,
#save {
  background: none;
}

#save {
  border: none;
}

#save:hover > svg {
  stroke: white;
}

#next-button:hover > svg,
#prev-button:hover > svg,
#listening:hover > svg,
#lyrics:hover > svg,
#queue:hover > svg,
#devices:hover > svg,
#volume:hover > svg {
  fill: #ffffff;
}

.player-bar {
  height: 72px;
  position: fixed;
  bottom: 8px;
  width: 100%;
}
