#sidebar {
	min-height: 100vh;
}

#genreRow,
#album-row {
	margin-bottom: 80px;
}

.player-bar {
	transition: 0.3s;
}

.genres {
	display: inline-block;
	height: 195px;
	width: 195px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	transition: 0.3s;
	&:hover {
		scale: 1.1;
		transition: 0.3s;
	}
}

.genreImg {
	bottom: -25px;
	position: absolute;
	right: -25px;
	rotate: 25deg;
}

.genreSpan {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 16px;
}

.inputsearch {
	background-color: #2a2a2a;
	transition: 0.3s;
}

#query:focus {
	box-shadow: none;
	background-color: #2a2a2a;
}

.inputsearch:focus-within {
	-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
	box-shadow: inset 0px 0px 0px 1px #ffffff;
	transition: 0.3s;
}

#download,
#download svg,
#news,
#news svg,
#profile,
#profile svg,
#back,
#nextpage {
	display: inline-block;
	transition: 0.3s;
	border: none;
	display: flex;
	align-items: center;
}

#download:hover,
#download:hover svg,
#news:hover,
#news:hover svg,
#profile:hover,
#profile:hover svg:hover {
	transform: scale(1.05);
	color: #1db954;
	fill: #1db954;
	transition: 0.3s;
}

.songsbutton {
	border: none;
	background-color: #282829;
}

.card {
	border: none; /* Rimuove il bordo */
	box-shadow: none; /* Rimuove l'ombra */
}

.fillactive {
	fill: #1db954;
}

.artist-album {
	width: 198px;
	transition: 0.3s;
	&:hover {
		scale: 1.1;
		transition: 0.3s;
	}
}

.artist-album > div > div > img {
	width: 140px;
}

.songs {
	transition: 0.3s;
	&:hover {
		scale: 1.1;
		transition: 0.3s;
	}
}
#crono {
	list-style-type: none;
	font-size: 9px;
	padding-left: 10px;
	margin-left: 2px;
}
#crono li {
	margin-top: 7px;
}

#friends {
	font-size: 10px;
}

#friends td {
	margin-left: 3px;
	padding-left: 20px;
	padding-right: 20px;
}
